%h1 Mockups

%ul
  %li= link_to 'Homepage', '/mockup/homepage'
  %li= link_to 'Learn more', '/mockup/learnmore'
  %li= link_to 'Locations', '/mockup/locations'
  %li= link_to 'Sign up', '/mockup/signup'
  %li= link_to 'Tools & resources', '/mockup/tools'
