%footer.mod-footer{role: 'contentinfo'}
  .layout-wrap

    .about
      %address
        %b Opportunity@Work
        %br
        1200 19th St NW (11th Floor)
        %br
        Washington DC 20036

      %p.payoff Opportunity@Work is a civic enterprise whose mission is to re-wire the U.S. labor market to enable more Americans to achieve upward mobility in the job market and workplace.

    %nav.sitemap
      %ul
        %li= link_to 'Home', '/mockup/homepage'
        %li= link_to 'Learn More', '/mockup/learnmore'
        %li= link_to 'TechHire Locations', '/mockup/locations'
        %li= link_to 'Sign Up', '/mockup/signup'
        %li= link_to 'Tools/Resources', '/mockup/tools'

    .contact
      %ul.social
        %li= link_to 'Facebook', '#', class: 'facebook'
        %li= link_to 'Twitter', '#', class: 'twitter'
        %li= link_to 'LinkedIn', '#', class: 'linkedin'

      %span Contact us:
      = link_to 'techhire@opportunityatwork.org', 'mailto:techhire@opportunityatwork.org'
