!!! 5

%html.no-js{lang: 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
    %title TechHire
    = csrf_meta_tag
    = stylesheet_link_tag :application, media: :all
    -# Include Modernizr (used for browser feature detection):
    = javascript_include_tag :modernizr

  %body{class: content_for(:body_class)}

    -# Render the header (logo & main navigation) partial:
    = render 'layouts/header'

    .layout-main
      %main{role: 'main'}
        = yield

    -# Render the footer partial:
    = render 'layouts/footer'

    -# Render the partial with analytics embed codes:
    = render 'layouts/analytics'
